@use '../styles/variables' as var;
@use '../styles/mixins';

.mainContent {
  padding: 1rem;
  width: mixins.layout(sm);

  @include mixins.media-breakpoint-up(md) {
    padding: mixins.rem(32px) 0;
    width: mixins.layout(md);
    margin: 0 auto;
  }
}

.well {
  background-color: mixins.color(white);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 2rem 1.5rem;

  @include mixins.media-breakpoint-up(md) {
    padding: 32px;
  }

}

.homeSection {
  h1, h2 {
    font-weight: normal;
  }

  h1 {
    color: mixins.color(black);
    margin-bottom: mixins.rem(18px);
  }

  h2 {
    margin-bottom: mixins.rem(48px);
  }

  p {
    margin-bottom: mixins.rem(24px);
    font-size: mixins.rem(16px);
    line-height: mixins.rem(24px);
  }
}
